.events_main_container{
    padding: 20px 50px;
}
.events_headline{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: rgb(62, 102, 39);
}
.events_sub_headline{
    text-align: center;
    font-size: 18px;
    margin: 10px 0px;
}
.events_list_main_container{
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
    margin: 40px 0px;
}
.event_action_button{
    background-color: rgb(62, 102, 39);
    font-size: 16px;
    font-weight: 700;
    color: white;
    border: none;
    outline: none;
    padding: 8px 40px;
    border-radius: 5px;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 900px) {
    .events_main_container {
      padding: 20px 20px;
    }
  }

@media only screen and (max-width:500px){
    .event_action_button{
        font-size: 14px;
    }
}